<%- include("../views/partials/header.ejs") %>
<div class="container">
	<h1 class="text-center">About the website</h1>
	<div class="jumbotron text-center">
		<p class="lead">In this website you can serch for any movie which you like and you will get information about that movie.
			The information include the cast name, release date, director name, Imdb raiting, Writer name, plot and many more things.
			Even after this if you are not satisfied by the information we provide than we have a way by which you can be redirected t0 IMDB site where you can access all the other information of movie  
		</p>
		<hr class="my-4">
		<p>In this website we are fetching information about the movie from a API which is provided by a site called OMBD  </p>
	</div>
	<br>
	<br>
	<h1 class="text-center mb-3">About me</h1>
	<br>
	<div class="container">
			<h3>Jatin Singh Rathore</h3>
			<p>
				I am an INFORMATION TECHNOLOGY undergrad from SGSITS Indore. My areas of interest include Web Development and Designing. I am well versed with technologies such as Node.js, Javascript, Express.js, RESTFUL Api.
				This is a demo project to show how request are made to api and information is being fetched. I like to learn new things and my main objective is to work in a challenging and dynamic environment and grow with the organization to achieve goal and objective of the job with efficiency and discipline.
			</p>
			
	</div>
</div>